/* BODY */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 64%;
    margin: 0 auto;
    display: flex;

    /* margin-top: 50px;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;
    margin: top right bottom left;
    margin: top right/left bottom;
    margin: top/bottom right/left;
    margin: todos os lados; */
}

/* CABEÇALHO */
.cabecalho{
    flex-basis: 20%; /* specifies the initial length of a flexible item*/
}
.cabecalho__logo{
    margin-top: 15px;
    margin-bottom: 30px;
}
.cabecalho__logo img{
    width: 11.5%;
    height: 11.5%;
}
.cabecalho__logo figcaption{
    display: none;
}
.cabecalho__menuNavegacao{}
.cabecalho__menuLista{}
.cabecalho__menuItem{
    margin-bottom: 30px;
}
.cabecalho__menuItem img{
    margin-right: 10px;
    max-width: 26px;
}
.cabecalho__menuItem a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    vertical-align: top;
}
.cabecalho__menuItemNegrito{
    font-weight: bold;
}


/* CONTEÚDO PRINCIPAL */
.conteudoPrincipal{
    flex-basis: 49%;
    border-left: 1px solid #e7ecf0;
    border-right: 1px solid #e7ecf0;
}
.conteudoPrincipal__titulo{
    padding: 15px 15px; /* top and bottom padding are 15px, right and left paddings are 30px */
    font-size: 19px;
    font-weight: bold; /* deixar em negrito */
}
.conteudoPrincipal__formulario{
    padding: 10px 30px;
    border-top: 1px solid #e7ecf0;
    border-bottom: 1px solid #e7ecf0;
    text-align: right;
}
.conteudoPrincipal__formulario textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    height: 55px;
}
.conteudoPrincipal__formulario button{
    background-color: #1da1f2;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 20px;
}
.conteudoPrincipal__feed{}
.conteudoPrincipal__listaTweets{
    display: flex;
    flex-flow: column-reverse nowrap;
}
.conteudoPrincipal__tweet{
    padding: 20px 32px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e7ecf0;
}
.tweet__fotoPerfil{}
.tweet__conteudo{
    margin-left: 15px;
}
.tweet__conteudo h2{
    display: inline-block;
}
.tweet__conteudo span{
    display: inline-block;
    color: #828282;
}
.tweet__conteudo p{
    margin-top: 15px;
    color: #333333;
}



/* CONTEÚDO PRINCIPAL */

.conteudoSecundario{
    margin-left: 30px;
}

.conteudoSecundario__Busca{
    padding-left:10px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 5px;
    background: #f6f6f6;
}
.conteudoSecundario__formulario{}
.conteudoSecundario__formulario textarea{}
.conteudoSecundario__Noticias{
    padding: 15px 40px 600px 10px; /* top right bottom left */
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 15px;
    background: #f6f6f6;
}
.conteudoSecundario__Noticias h1{
    font-size: 20px;
    font-weight: bold;
}
.conteudoSecundario__Sugestoes{
    padding: 15px 40px 300px 10px; /* top right bottom left */
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 10px;
    background: #f6f6f6;
}
.conteudoSecundario__Sugestoes h1{
    font-size: 20px;
    font-weight: bold;
}